/**
 * Resets.
 */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

ul,
ol {
	list-style-type: none;
}

img {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active {
		outline: 0;
	}

	img {
		border: 0;
	}
}
