/**
 * Variables.
 */

/**
 * Sizes.
 */
$size-xxl: 1920px;
$size-xl: 1600px;
$size-l: 1200px;
$size-m: 768px;
$size-s: 560px;
$size-xs: 400px;

$grid-breakpoints: (
	xs: $size-xs,
	s: $size-s,
	m: $size-m,
	l: $size-l,
	xl: $size-xl,
	xxl: $size-xxl
);

/**
 * Colors.
 */
$color-red: #ff1a1f;
