/**
 * Variables.
 */

// Typography.

$typography--base-map: (
	map-get($grid-breakpoints, sm): 16px,
	map-get($grid-breakpoints, xxl): 18px
) !default;


// Grid.

$wrap--width: 1200px !default;
$wrap--gutter: $grid-gutter-width !default;
$grid--row-gutter: calculate-rem(50px) !default;

// Colors.

$color-border: $gray-300 !default;
