# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Packages
node_modules
vendor

# --- Root
/*
!.circleci
!.eslintrc.json
!.editorconfig
!.gitignore
!.gitmodules
!.jshintignore
!.jshintrc
!.tests
!composer.json
!composer.lock
!gulpfile.js
!package.json
!phpcs.xml
!phpunit.xml
!.stylelintrc
!.stylelintignore
!web/
!wp-cli.yml
!README.md

# -- Tests
.tests/wp-tests-config-local.php

# --- WordPress
web/*
!wp-content/
!web/index.php
!web/wp-config.php
!web/wp-config-local-sample.php

# --- WP Content
web/wp-content/*
!web/wp-content/themes/
!web/wp-content/mu-plugins/

web/wp-content/themes/*
!web/wp-content/themes/fooclient/
