# --- Windows and Mac files
[Tt]humbs.db
.DS_Store

# --- Packages
node_modules
vendor

# --- Root
/*
!.browserslistrc
!.eslintignore
!.eslintrc.json
!.editorconfig
!.github
!.gitignore
!.gitmodules
!.tests
!.env.sample
!composer.json
!composer.lock
!package.json
!package-lock.json
!phpcs.xml
!phpunit.xml
!.stylelintrc
!.stylelintignore
!config/
!web/
!webpack.config.js
!wp-cli.yml
!README.md

# -- Tests
.tests/php/wp-tests-config-local.php

# --- WordPress
web/*
!wp-content/
!web/index.php
!web/wp-config.php

# --- Build
dist

# --- WP Content
web/wp-content/*
!web/wp-content/themes/
!web/wp-content/mu-plugins/

web/wp-content/themes/*
!web/wp-content/themes/fooclient/
