<phpunit
	bootstrap=".tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="wp-tests">
			<directory prefix="test-" suffix=".php">.tests/php</directory>
			<!--<directory prefix="test-" suffix=".php">wp-content/mu-plugins/fooclient/.tests</directory>-->
		</testsuite>
	</testsuites>
	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value=".tests/php/wp-tests-config.php" />
	</php>
</phpunit>
