/**
 * Accordion.
 */

@import "../../scss";

.accordion {
	display: block;

	&__handle {
		border: 0;
		background: transparent;
		cursor: pointer;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
	}

	&__content {
		height: 0;
		overflow: hidden;
		transition: all 0.6s var(--ease-in-out-quart);
	}
}
